<% appointmentCoverClass = locals.large ? 'appointment-cover-large' : ''%>
<% appointmentGridClass = locals.large ? 'appointment-grid-large' : '' %>

<div class="appointment-grid">
    <% appointments.forEach(appointment => { %>
        <div>
            <div> appointment with <%= appointment.client.firstName %> </div>
            <a class="btn btn-primary" href="/appointments/<%= appointment.id %>">View</a>
            <br>
            <%- include('../partials/deleteForm', 
                { url: `/appointments/${appointment.id}` }) %>
        </div>
        
    <% }) %>
</div>
