<header>
    <nav class="header-nav">
        <a class="header-title" href="/">My Client Manager</a>
        <ul>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/clients/new">Add Client</a></li>
            <li><a href="/appointments">Appointments</a></li>
            <li><a href="/appointments/new">Add Appointment</a></li>
        </ul>
    </nav>
</header>