<div class="form-row">
    <div class="form-item">
        <label>First Name</label>
        <input type="text" name="firstName" value="<%= myClient.firstName %>">
    </div>
    <div class="form-item">
        <label>Last Name</label>
        <input type="text" name="lastName" value="<%= myClient.lastName %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Email</label>
        <input type="email" name="email" value="<%= myClient.email %>">
    </div>
    <div class="form-item">
        <label>Phone</label>
        <input type="text" name="phone" value="<%= myClient.phone %>">
    </div>
</div>

