<h2 class="page-header">Appointments</h2>

<br>
<% appointments.forEach(appointment => { %>
    <div>
        <div><%= appointment.client.firstName %> <%= appointment.client.lastName %></div>
        <br>
        <a class="btn btn-primary" href="/appointments/<%= appointment.id %>">View</a>
        <br>
        <br>
    </div>
    
<% }) %>