

<h2 id="appointments" hidden><%= appointments %></h2>

<div id="title">
    <button id="prev-btn"><</button>
    <contianer id="month-title">Month</contianer>
    <button id="next-btn">></button>
</div>
<br>
<div id="main" style="
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr;
"></div>

<script defer src="/javascripts/calender.js"></script>
