<h2 class="page-header">New Appointment</h2>
<form action="/appointments" method="POST">
    <%- include("_form_fields") %>
    <div class="form-row btn-row form-row-end">
        <a class="btn btn-danger" href="/appointments">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>